@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    font-family: 'roboto';
}
.cabecalho{
    background-image: url("imagens/imgfundo.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    pedding-top: 20px
    pedding-bottom: 22px

} 

.logo{
    width: 170px;
    height: 170px;
    border: 5px solid #780000;
    padding: 10px;
    border-radius: 100px;
}
.nome-loja{
    margin: 0;
    font-size: 60px;
    color: #003049;
    font-family: 'Cookie';
    font-weight: 100;
    text-align: center
    line-height: 60%
}
.texto-pequeno{
    font-size: 28px;
}
.menu{
    background-color: #FDF0D5;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
}