@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    font-family: 'roboto';
}
.cabecalho{
    background-image: url("imagens/imgfundo.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    pedding-top: 20px
    pedding-bottom: 22px

} 

.logo{
    width: 170px;
    height: 170px;
    border: 5px solid #780000;
    padding: 10px;
    border-radius: 100px;
}
.nome-loja{
    margin: 0;
    font-size: 60px;
    color: #003049;
    font-family: 'Cookie';
    font-weight: 100;
    text-align: center;
    line-height: 60%;
}
.texto-pequeno{
    font-size: 28px;
}
.menu{
    color: #669BBC;
    background-color: #FDF0D5;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    width: 1200PX;
    padding-top: 19PX;
    padding-bottom: 19px;
}
.item-menu{
    color: #669BBC;
    font-size: 22px;
    font-weight: 500;
}
.foto-banner{
    width: 1200px;
    height: 445px;
    object-fit: cover;
}
.banner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #780000;
}
.cardapio{
    font-size: 60px;
    font-family: 'Cookie';
    text-align: center;
    font-weight: 100;
    color: #003049;

}
.menu-principal{
    width: 1200px;
    height: 445px;
    margin: auto;
    border-bottom: 5px solid #780000;
}
ul{
    column-count: 4;
    
}
.fotos{
    width: 1200px;
    height: 445px;
    background-color: #669BBC;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    border-bottom: 5px solid #780000;

}
.fotinhas{
    font-size: 60px;
    font-family: 'Cookie';
    text-align: center;
    font-weight: 100;
    margin-top: 0;
    color: white


    
}
.foto1{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 50px;
    margin-left: 200px;
    border: 5px solid #780000;

}
.foto2{
    width: 200px;
    height: 200px;
    object-fit: cover;
       margin-right: 50px;
       margin-left: 50px;
       border: 5px solid #780000;

}
.foto3{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 100px;
    margin-left: 50px;
    border: 5px solid #780000;
}
.mapa{
    width: 1200px;
    height: 445px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-bottom: 5px solid black;

}
.contatos{
    font-size: 60px;
    font-family: 'Cookie';
    font-weight: 100;
    text-align: center;
}
#mapinha{
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 0px;
    margin-left: 100px;
}
.rodape{
    width: 1200px;
    height: 300px;
    background-color: #FDF0D5;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
.logoinsta{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 340px;
    margin-left: 300px;
}
.facelogo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 400px;
    margin-left: 400px;
}
.direitos{
    font-size: 12px;
    text-align: center;
}